/* POUR LES I-PAD ET TABLETTES */
@media screen and (min-width: 700px) {
    :root {
        font-size: 14px;
    }
    header {
        align-items: center;
        flex-direction: row;
    }
    iframe {
        height: 600px;
    }
}
@media screen and (min-width: 700px) and (orientation: landscape) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main > article {
        border: solid 0.15rem var(--primary);
        border-radius: 6px;
        flex: 1 1 350px; 
        margin: 0.4rem;
        padding: 0.4rem;
    }
}
/* POUR LES ORDINATEURS */
@media screen and (min-width: 1030px) {
    :root {
        font-size: 16px;
    }
    main > article {
        flex: 1 1 500px;
    }
}