/* POUR LES I-PAD ET TABLETTES */
@media screen and (min-width: 700px) {
    :root {
        font-size: 14px;
    }
    header {
        flex-direction: row;
        align-items: center;
    }
    iframe {
        height: 600px;
    }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main > div {
        margin: 0.4rem;
        padding: 0.4rem;
        flex: 1 1 350px; 
        border: solid 0.15rem var(--primary);
        border-radius: 6px;
    }
}

/* POUR LES ORDINATEURS */
@media screen and (min-width: 1100px) {
    :root {
        font-size: 16px;
    }
    main > div {
        flex: 1 1 500px;
    }
}