/* MISE EN PLACE DE LA TAILLE DE LA POLICE POUR LA VUE TELEPHONE MOBILE ET DES VARIABLES DE COULEUR */
:root {
    font-size: 12px;
    --primary: #3F681C; 
    --secondary: #FFBB00;
    --thirdly: #FB6542; 
    --fourthly: #375E97;
}
body {
    font-family: 'Lato', sans-serif;
}
/* DEBUT HEADER */
header {
    background: linear-gradient(var(--thirdly), var(--fourthly));
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
}
h1 {
    border: solid 0.3rem var(--secondary);
    border-radius: 46%;
    color: var(--secondary);
    margin: 1.5rem;
    padding: 1rem;
    text-align: center;
}
#thatPageOK {
    color: white;
}
/* Enlever les puces de la liste */
ul {
    justify-content: center;
    list-style-type: none;
    padding: 0.7rem;
}
/* Enlever le soulignement des liens et choix de la couleur pour le logo */
.logoLink:link {
    text-decoration: none;
}
.logoLink {
    color: var(--secondary);
}
/* Enlever le soulignement des liens et choix de la couleur pour la navigation */
.resetLinkHeader:link {
    text-decoration: none;
}
.resetLinkHeader {
    color: var(--thirdly);
}
.resetLinkHeader:hover {
    color: white;
}
li {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
/* FIN HEADER */
/* DEBUT MAIN */
main {
    background-color: var(--secondary);
    padding: 0.5rem;
}
h2 {
    border: solid 0.18rem;
    border-radius: 6px;
    color: var(--primary);
    font-size: 1.75rem;
    margin: 0.6rem;
    padding: 0.6rem;
    text-align: center;
}
img {
    border-radius: 5px;
    width: 100%;
}
p {
    color: var(--fourthly);
    font-size: 1.6rem;
    padding: 0.7rem;
    text-align: center;
}
/* Lorsque l'utilisateur clique sur l'adresse dans le premier article, la redirection se fait avec un défilement plus lent */
html {
    scroll-behavior: smooth;
}
/* FIN MAIN */
/* DEBUT FOOTER */
footer {
    background: linear-gradient(var(--fourthly), var(--thirdly));
    padding: 1rem;
}
h3 {
    color: var(--thirdly);
    font-size: 1.75rem;
    padding: 1rem;
    text-align: center;
}
iframe {
    height: 300px;
    width: 100%;
}
.resetLinkFooter:link {
    text-decoration: none;
}
.resetLinkFooter {
    color: var(--secondary);
}
.resetLinkFooter:hover {
    color: white;
}
footer > p {
    font-size: 1.2rem;
    font-weight: bold;
}
/* FIN FOOTER */