/* Récupération de la police */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Mise en place de la taille de la police pour la vue téléphone mobile et des variables pour les couleurs */
:root {
    font-size: 12px;
    --primary: #3F681C; 
    --secondary: #FFBB00;
    --thirdly: #FB6542; 
    --fourthly: #375E97;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Mise en forme de la partie header des pages */
header {
    background-color: var(--fourthly);
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
}

h1 {
    margin: 1.5rem;
    padding: 1rem;
    color: var(--secondary);
    text-align: center;
    border: solid 0.4rem var(--secondary);
    border-radius: 46%;
}
/* Enlever les puces de la liste */
ul {
    padding: 0.7rem;
    list-style-type: none;
    justify-items: center;
}
/* Enlever le soulignement des liens */
a:link {
    text-decoration: none;
}

a {
    color: var(--thirdly);
}

a:hover {
    color: white;
}

li {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
